<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleDisplayName</key>
	<string>Тарелка</string>
	<key>CFBundleExecutable</key>
	<string>Tarelka</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.tarelka.personal</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>CFBundleName</key>
	<string>Тарелка</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.1</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>CFBundleURLTypes</key>
	<array><dict>
		<key>CFBundleURLName</key><string>app.tarelka.personal</string>
		<key>CFBundleURLSchemes</key><array><string>tarelka</string></array>
	</dict></array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.healthcare-fitness</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Тарелка, 2026</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Чтобы надиктовать продукты для рецепта. Микрофон включается только по вашей кнопке.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Чтобы превратить названия продуктов в текст. Используется распознавание на устройстве.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
